
.main-body-div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0,0,0,.9);
    z-index: 9;
}

.body-text-div {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    color: whitesmoke;
    font-size: 6vw;
    letter-spacing: .15em;
    z-index: 99;
    mix-blend-mode: difference;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-play-state: inherit;
    filter: blur(8px);
}