.main-body-div {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,.85);
    z-index: 1;
    position: fixed;  
}

.body-text-div {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.header-text {
    color: whitesmoke;
    font-size: 11vw;
    font-weight: 400;
    letter-spacing: .15vw;
    padding-top: 4vw;
    z-index: 99;
    mix-blend-mode: difference;
}

.header-text-h6 {
    color: whitesmoke;
    font-size: 2.5vw;
    font-weight: 200;
    letter-spacing: .15rem;
    z-index: 99;
    mix-blend-mode: difference;
    padding: 0;
    cursor: pointer;
    margin: 0;
}

.play-button {
    text-align: center;
    z-index: 99;
    border: none;
    margin-left: 65%;
    background-color: transparent;
}

#section-about {
    position: relative;
    padding-top: 14vh;
}

@media only screen and (max-width: 480px){
    .main-body-div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    .header-text { 
        font-size: 3rem;
    }

    .header-text-h6 {
        font-size: 1rem;
    }
}

.stop-div {
    display: flex;
    align-items: center;
}

.waveform {
    --uib-size: 1em;
    --uib-speed: 1.5s;
    --uib-color: whitesmoke;
    --uib-line-weight: 1px;
  
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: calc(var(--uib-size) * 0.9);
    margin: 0 0.25em 0 0;
  }
  
  .waveform__bar {
    width: var(--uib-line-weight);
    height: 100%;
    background-color: var(--uib-color);
  }
  
  .waveform__bar:nth-child(1) {
    animation: grow var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.45) infinite;
  }
  
  .waveform__bar:nth-child(2) {
    animation: grow var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.3) infinite;
  }
  
  .waveform__bar:nth-child(3) {
    animation: grow var(--uib-speed) ease-in-out
      calc(var(--uib-speed) * -0.15) infinite;
  }
  
  .waveform__bar:nth-child(4) {
    animation: grow var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * -0.25) infinite;
  }

  .waveform__bar:nth-child(5) {
    animation: grow var(--uib-speed) ease-in-out infinite;
  }
  
  @keyframes grow {
    0%,
    100% {
      transform: scaleY(0.1);
    }
  
    50% {
      transform: scaleY(1);
    }
  }  