
.album-nav-body-div {
    top: 0;  
}

#nav-link {
    text-decoration: none;
    font-size: 1.5vw;
    letter-spacing: .15vw;
    margin-right: 5vw;
    color: whitesmoke;
    padding: 0;
}

.nav-under-line {
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .nav-under-line::before {
    content: '';
    position: absolute;
    width: 3.15em;
    height: 2px;
    bottom: 0;
    left: auto;
    transform-origin: left;
    transform: scaleX(0);
    transition: all .35s ease-in-out;
  }
  .nav-under-line:hover::before {
    background-color: whitesmoke;
    transform-origin: left;
    transform: scaleX(1);
    text-align: center;
  }