
.album-art-body-div {
    width: 100%;
    background-color: #101010;
    padding: 6vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.album-art-header {
    font-size: 10vw;
    font-weight: 400;
    letter-spacing: .15vw;
    color: #fa8072cc;
    text-align: center;
    margin: 4rem;
}

.album-title {
    color: whitesmoke;
    font-size: 1.15vw;
    letter-spacing: .25vw;
    font-style: italic;
    font-weight: 200;
    margin-top: 2vh;
    margin-bottom: 6vh;
}

#art {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

@media only screen and (max-width: 480px) {
    .album-art-body-div {
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
    }
  
}