.loading-body-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: default !important;
    background-color: black;
}

.loading-text {
    font-size: 2.15rem;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #f2f2f2;
    cursor: default !important;
}

.loading-text-hidden {
    opacity: 0;
    transition: all 500ms ease-out;
  }
  