  .marquee {
    top:0;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 999;
    mix-blend-mode: difference;
  }
  
  .marquee-line {
    color: whitesmoke;
    font-size: 1.5vw;
    font-weight: 300;
    display: inline-block;
    padding: 2vh 4vw;
    white-space: nowrap;
    animation: marquee 12s linear infinite;
    /* z-index: 999; */
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .highlight {
    color: gray;
    font-weight: 500;
  }

  @media only screen and (max-width: 992px) {
    .marquee-line {
      font-size: 1rem;
    }
  }