
.header-body-div {
    top: 6vw;  
    position: fixed;
    z-index: 666;
    mix-blend-mode: difference;
}

#nav-bar {
    width: 100vw;
    /* height: 6vw; */
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#nav-links {
    font-size: 2vw;
    font-weight: 200;
    letter-spacing: .15rem;
    margin-right: 2.5vw;
    color: whitesmoke;
    padding: 0;
    cursor:  pointer !important;
}

.navbar-toggler-icon {
    background-color: whitesmoke;
    color: whitesmoke;
    border-radius: 8px;
}

.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent!important;
}

.navbar-toggler {
  color: whitesmoke;
}

.about-under-line {
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .about-under-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: auto;
    transform-origin: left;
    transform: scaleX(0);
    transition: all .35s ease-in-out;
  }
  .about-under-line:hover::before {
    background-color: whitesmoke;
    transform-origin: left;
    transform: scaleX(1);
    text-align: center;
  }

.under-line {
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    text-align: center;
  }
  .under-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: auto;
    transform-origin: left;
    transform: scaleX(0);
    transition: all .35s ease-in-out;
  }
  .under-line:hover::before {
    background-color: whitesmoke;
    transform-origin: left;
    transform: scaleX(1);
    text-align: center;
  }

  .album-under-line {
    color: whitesmoke;
    position: relative;
    text-decoration: none;
    text-align: center;
    transition: all .35s ease-in-out;
  }
  .album-under-line::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: auto;
    transform-origin: left;
    transform: scaleX(0);
    transition: all .35s ease-in-out;
  }
  .album-under-line:hover::before {
    background-color: whitesmoke;
    transform-origin: left;
    transform: scaleX(1);
    text-align: center;
    transition: all .35s ease-in-out;
  }

.clock {
  margin-left: 2vw;
}

@media only screen and (max-width: 992px) {
  .header-body-div {
    background: transparent;
  }
  #nav-bar {
    top: 8vw;
  }
  #nav-links {
    margin: 2vw;
    font-size: 1rem;
  }
  .album-under-line::before {
    display: none;
  }
  .under-line::before {
    display: none;
  }
  .about-under-line::before {
    display: none;
  }
}