
.footer-body-div {
    width: 100vw;
    height: auto;
    border-top: 1px solid rgba(255,255,255,.4);
    display: flex;
    justify-content: space-around;
    z-index: 100;
    position:absolute;
}

.footer-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: 8vw 0 8vw 0;
}

.footer-header h6 {
    color: gray;
    font-size: .75em;
    line-height: 3;
}

#footer-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.25em;
    line-height: 2;
}

#footer-link:hover {
    color: grey;
    transition: all ease-in-out .25s;
    cursor: pointer !important;
}

.port-link {
    border-bottom: 1px solid whitesmoke;
    padding: .1em;
    transition: all .15s ease-in-out;
}

.port-link:hover {
    border-bottom: 1px solid transparent;
    transition: all .15s ease-in-out;
}

#copy-text {
    color: whitesmoke;
    font-size: .75em;
    font-weight: 200;
    letter-spacing: .15vw;
}

#last-div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (min-width: 2400px) {
    .footer-col-text {
        font-size: 1.5rem;
    }
    #copy-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .footer-body-div {
        height: auto;
        display: inline;
    }
}