
.album-art-body-div {
    width: 100%;
    /* background-color: #101010; */
    /* background-color: rgba(0,0,0,.85); */
    padding: 6vw;
    margin: 0 auto;
}

.album-overlay {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,.85);
    position: fixed;  
}

.album-text {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 100vh;
    
}

.album-art-header {
    font-size: 10vw;
    font-weight: 400;
    letter-spacing: .15vw;
    color: #fa8072cc;
    text-align: center;
    margin: 0;
    /* margin-top: 10rem; */
}

.row-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.col {
    /* width: auto; */
    max-width: 22rem;
    margin: auto;
}

.album-title {
    color: whitesmoke;
    font-size: 1.15vw;
    letter-spacing: .25vw;
    font-weight: 200;
    padding-top: 2vh;
    padding-bottom: 6vh;
    margin:0;
}

#art {
    max-width: 22rem;
    display: block;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

@media only screen and (max-width: 820px) {
    .album-nav-body-div {
        padding-top: 4vw;
        padding-left: 4vw;
    }
    .album-art-body-div {
        display: grid;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .row {
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 480px) {
    .album-nav-body-div {
        padding-top: 4vw;
        padding-left: 4vw;
    }
    .album-art-header {
        font-size: 3rem;
    }
    #nav-link {
        font-size: 1rem;
        margin: 0;
    }
    .album-art-body-div {
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 0;
    }
    .album-title {
        font-size: 1rem;
    }
}